.highligh .go {
    color: #6a737d;
}

.highligh .pl-c1,
.highligh .pl-s .pl-v {
    color: #005cc5;
}

.highligh .pl-e,
.highligh .pl-en {
    color: #6f42c1;
}

.highligh .pl-smi,
.highligh .pl-s .pl-s1 {
    color: #24292e;
}

.highligh .pl-ent {
    color: #22863a;
}

.highligh .pl-k {
    color: #d73a49;
}

.highligh .pl-s,
.highligh .pl-pds,
.highligh .pl-s .pl-pse .pl-s1,
.highligh .pl-sr,
.highligh .pl-sr .pl-cce,
.highligh .pl-sr .pl-sre,
.highligh .pl-sr .pl-sra {
    color: #032f62;
}

.highligh .pl-v,
.highligh .pl-smw {
    color: #e36209;
}

.highligh .pl-bu {
    color: #b31d28;
}

.highligh .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
}

.highligh .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
}

.highligh .pl-c2::before {
    content: "^M";
}

.highligh .pl-sr .pl-cce {
    font-weight: bold;
    color: #22863a;
}

.highligh .pl-ml {
    color: #735c0f;
}

.highligh .pl-mh,
.highligh .pl-mh .pl-en,
.highligh .pl-ms {
    font-weight: bold;
    color: #005cc5;
}

.highligh .pl-mi {
    font-style: italic;
    color: #24292e;
}

.highligh .pl-mb {
    font-weight: bold;
    color: #24292e;
}

.highligh .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
}

.highligh .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
}

.highligh .pl-mc {
    color: #e36209;
    background-color: #ffebda;
}

.highligh .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
}

.highligh .pl-mdr {
    font-weight: bold;
    color: #6f42c1;
}

.highligh .pl-ba {
    color: #586069;
}

.highligh .pl-sg {
    color: #959da5;
}

.highligh .pl-corl {
    text-decoration: underline;
    color: #032f62;
}
